.cartao__botao {
    background-color: var(--preto);
    text-align: center;
    border-radius: 5px;
    padding: 1em;
}

@media screen and (min-width: 540px) {
    .cartao__botao {
        width: 40%;
        margin: 0 auto;
    }
}