/*index.html*/
@font-face {
    font-family: pinkfont;
    src: url(fonts/floyd.TTF);
}

header {
    background: black;
    font-family: pinkfont;
    border-bottom: 5px solid black;
}

.caixa-navegacao {
    background-image: url(img/img-caixa-navegacao.jpg);
    background-size: 100% 300px;
    background-position: center;
    text-align: center;
    width: auto;
    height: 300px;
    margin: auto;
}

.img-logo {
    float: center;
    width: 260px;
}

.titulo-logo {
    position: absolute;
    top: 120px;
    left: 50%;
    color: #FF0000;
    font-size: 50px
}

nav ul {
    position: relative;
    top: 10px;
}

ul li {
    display: inline;
    padding: 0 10px 0 10px;
    font-size: 20px;
}

li a {
    color: aliceblue;
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
    color: #FF0000;
}

main {
    font-family: 'Montserrat', sans-serif; 
}

.apresentacao{
    width: 940px;
    margin: auto;
    padding: 15px;
    text-align: justify;
    font-weight: b;
}

.apresentacao p {
    margin: 10px;
}

.albuns {
    width: 940px;
    margin: auto;
}

.albuns img {
    width: 10%;
    padding: 3px;
}

.img-bio {
    float: left;
    width: 40%;
    padding: 5px 5px;
}

.descricao-img-bio {
    font-size: 0.6em;
    
}

.mini-bio {
    width: 940px;
    margin: auto;
    padding: 15px;
    text-align: justify;
}

.mini-bio p {
    margin: 10px;
}



footer {
    background: url("img/footer.jpg");
    color: aliceblue;
    font-family: pinkfont;
    text-align: center;
    border-top: 5px solid black;
    width: 100%;
    position: relative;
    bottom: 0;
    margin: auto;
}

.logo-rodape {
    width: 50px;
    margin-top: 15px;
}

.copyright {
    position: relative;
    top: -30px;
}

@media screen and (min-width: 1200px) {
    .caixa-navegacao {
        background-size: 75% 350px;
    }
    
}