/*index.html*/
@font-face {
    font-family: pinkfloyd;
    src: url(fonts/pinkfloyd.ttf);
}

header {
    background: url("img/background.jpg");
    font-family: pinkfloyd, 'Montserrat', sans-serif;
    border-bottom: 1px solid black;
}

.caixa-navegacao {
    background-image: url(img/img-caixa-navegacao.jpg);
    background-size: 100% 300px;
    background-position: center;
    width: 940px;
    margin: auto;
    height: 300px;
    text-align: center;
}

.logo {
    position: relative;
}

.img-logo {
    width: 260px;
    background: linear-gradient(rgba(8, 8, 8, 0.8), rgba(252, 251, 251, 0.8)) ;
    border-radius: 300px;
    box-shadow: 100px 5px 25px rgba(255, 255, 255, 0.7);
}

.nome-logo {
    color: rgb(202, 33, 4);
    position: absolute;
    top: 90px;
    margin: 0 0 0 -2px;
    font-weight: bold;
    font-size: 80px;
    text-shadow: 25px 15px 5px rgba(0,0,0,0.5);
}

nav ul {
    text-align: center;
    width: 940px;
    margin: auto;
    top: 270px;
}

ul li {
    display: inline;
    padding: 0 10px 0 10px;
    font-size: 20px;
}

li a {
    color: aliceblue;
    text-decoration: none;
}

li a:hover {
    color: rgb(202, 33, 4);
}

main {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(rgba(255,255,255,1) 70%, rgba(0,0,0,0.3)); 
}

.mini-bio p::first-letter {
    font-size: 2em;
}

.mini-bio em {
    font-weight: bold;
}

h1 {
    font-size: 2em;
    text-align: center;
    width: 940px;
    margin: auto;
    padding-top: 25px;
}

.img-bio1 {
    float: left;
    width: 18%;
    padding: 5px 10px;
}

.img-bio2 {
    float: right;
    width: 40%;
    padding: 5px 10px;
}

.descricao-img-bio {
    font-size: 0.6em;
    
}

.mini-bio {
    width: 940px;
    margin: auto;
    padding: 15px;
    text-align: justify;
}

.mini-bio p {
    margin: 10px 10px;
}

.mini-bio p::first-letter {
    font-size: 2em;
}

footer {
    background: url("img/background.jpg");
    color: aliceblue;
    font-family: pinkfloyd, 'Montserrat', sans-serif;
    text-align: center;
    border-top: 1px solid black;
    width: 100%;
    bottom: 0;
    margin: auto;
}

.logo-rodape {
    position: relative;
    top: -16px;
    transform: rotate(22deg);
    width: 100px;
}

.copyright {
    padding: 0 0 15px 0;
}

@media screen and (max-width: 480px) { 
    .caixa-navegacao, nav ul, h1, .mini-bio, footer {
        width: auto;
    }

    h1 {
        font-size: 25px;
    }

    .nome-logo {
        font-size: 50px;
        margin: 0 60px;
    }

    .img-bio1 {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%
    }

    .img-bio2 {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 350px;
    }
   
}