.banner__imagem {
    background-image: url("../../img/banner01.jpg");
    background-repeat: no-repeat;
    background-size: 100vw auto;
    width: 100vw;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}