.catalogo__album {
    background-repeat: no-repeat;
    background-size: cover;
    width: 40%;
    border-radius: 10px;
    padding: 0.3em;
    transition: 1s;
}

.catalogo__album:hover {
    scale: 1.1;
}