.catalogo__titulo {
    background: rgba(0, 0, 0, 0.5);
    padding: 1.5em;
    color: var(--branco);
    font-weight: 300;
    width: 200px;
    font-size: 1em;
    font-family: var(--fonte-principal);
}