.catalogo__titulo {
    background: rgba(0, 0, 0, 0.5);
    padding: 1.5em;
    color: var(--branco);
    font-weight: 300;
    width: 100px;
    font-size: 0.5em;
    font-family: var(--fonte-principal);
}


@media screen and (min-width: 540px) {
    .catalogo__titulo {
        width: 200px;
        font-size: 1em;
    }
}
