.carrossel {
    padding: 0 0.5em;
    margin: 0 0 1.5em 0;
    text-transform: uppercase;
    font-family: var(--fonte-secundaria);
}

@media screen and (min-width: 1024px) {
    .carrossel__favoritos {
        width: 40vw;
    }
    .carrossel__membros {
        width: 40vw;
    }
}