.carrossel {
    padding: 0 0.5em;
    margin: 0 0 1.5em 0;
    text-transform: uppercase;
    font-family: var(--fonte-secundaria);
}

@media screen and (min-width: 1024px) {
    .carrossel__favoritos {
        grid-column: 1 /span 2;
        grid-row: 2;
    }
    .carrossel__membros {
        grid-column: 1 /span 2;
        grid-row: 3;
    }
}