.cartao {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--branco);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 0.5em 1em;
    padding: 1em;
    font-family: var(--fonte-secundaria);
}

@media screen and (min-width: 1024px) {
    .cartao__welcome {
       width: 45vw;
    }
    .cartao__biografia {
        width: 45vw;
    }
}