@import url("catalogo.css");
@import url("cabecalho.css");
@import url("cabecalho/cabecalho-logo.css");
@import url("menu/menu-check.css");
@import url("menu/menu-imagem.css");
@import url("menu/menu-titulo.css");
@import url("menu/menu-lista.css");
@import url("menu/menu-item.css");
@import url("menu/menu-link.css");

@font-face {
    font-family: pinkfloyd;
    src: url(../fonts/pinkfloyd.ttf);
}

:root {
    --fonte-principal: pinkfloyd, 'Montserrat', sans-serif;
    
    --branco: #FFFFFF;
    --preto: #000000;
}

header {
    font-family: var(--fonte-principal);
}
